.grp1{
    height: 74px;
    width: 404px;
    left: 250px;
    top: 229px;
    border-radius: 10px;
    
    }
.vcenter{
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      background: white;
}
.s{
    color: rgb(0, 195, 255);
}
.container {
    height: 500px;
    width: 600px;
    background: rgb(212, 207, 207);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }